[Unit]
Description=Your Django Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/test_django
ExecStart=/usr/bin/python3 /home/ubuntu/test_django/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
